@using EloWeb.Models
@model System.Collections.Generic.IEnumerable<EloWeb.Models.Game>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

<h4>
    @Html.ActionLink("Add Game", "Create")
</h4>

<table class="table">
    <th>
        Last 20 Games (Most Recent First)        
    </th>
@foreach (var game in Model) {
    <tr>
        <td>
            @Html.ActionLink(game.Winner, "Details", "Players", new { name = game.Winner }, null)
             beat 
            @Html.ActionLink(game.Loser, "Details", "Players", new { name = game.Loser }, null)
        </td>
        <td>
            @Html.ActionLink(
                "Delete",
                "Delete",
                "Games",
                    new { confirm = true, Id = game.RowKey },
                    new { onclick = "return confirm('Do you really want to delete this game?')" })
        </td>
    </tr>
}

</table>
