@model System.Collections.Generic.IEnumerable<EloWeb.Models.Game>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

<h4>
    @Html.ActionLink("Add Game", "Create")
</h4>

<table class="table">
    <th>
        Last 20 Games (Most Recent First)        
    </th>
@foreach (var item in Model) {
    <tr>
        <td>
            @item.ToString()
        </td>
    </tr>
}

</table>
