@model EloWeb.Models.Player

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name (@Model.Rating)</h2>

<div>
    <dl class="dl-horizontal">
    </dl>
</div>
