
@{
    ViewBag.Title = "NewLeague";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is a new league with no players</h2>

<h4>@Html.ActionLink("Add Some Players Now", "Create", "Players")</h4>

